@{
    ViewData["Title"] = "Home Page";
}

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    a {
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
        font-size: 20px;
        color: black;
    }
    a:hover {
        color: red;
        text-decoration: underline;
    }
</style>

<div class="container">
    <h1>Lab4</h1>
    <a href="/employee">Таблица Employees</a>
    <a href="/organization">Таблица Organizations</a>
    <a href="/invoice">Таблица Invoices</a>
</div>
