@model Application.Employees.Quieres.GetEmployeeList.EmployeeListVm;
@{
    ViewData["Title"] = "CreateEmployeePage";
}

<style>
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button {
        width: 250px;
        height: 50px;
        border-radius: 15px;
        border: none;
        background-color: #F7EF79;
        cursor: pointer;
        transition: 0.3s;
    }
    form {
        width: 95%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        row-gap: 15px;
    }
</style>

<div class="container">
    <h1>Страница добавления работников</h1>

<form method="post" action="/employee/Create">
  <label>Name:
    <input name="name" />
  </label>
  <label>Surname:
    <input name="surname" />
  </label>
  <button type="submit">Сохранить</button>
</form>

</div>